<h1>Pags#pag1</h1>
<p>Find me in app/views/pags/pag1.html.erb</p>
<%= controller_name%>
<%= action_name%>
<% if controller_name == 'layouts' %>
	<h1>cocoando</h1>
<% end %>
<%= params.inspect%>
<div class="jumbotron">
	<button type="button" class="btn btn-default">Normal</button>
</div>